.services-container {
  background-color: #040f28;
  padding: 3.75rem 1rem;
}
.services-title {
  color: #fff;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 1.5rem;
  line-height: 100%;
  margin-bottom: 1.875rem;
  text-align: center;
}
.services-text {
  color: #fff;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 1rem;
  line-height: 100%;
  margin-bottom: 3rem;
  text-align: center;
}
.card-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.5rem;
}
.card-item {
  background-color: #fff;
  padding: 1.5rem 3.5rem 2.375rem 2rem;
  opacity: 1;
  border-radius: 0.75rem;
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}
.icon-container {
  background-color: #fc3867;
  border-radius: 50%;
  width: 3.75rem;
  height: 3.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-bottom: 1rem;
}
.icon-container img {
  width: 2rem;
  height: 2rem;
}
.card-title {
  color: #000;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 1.5rem;
  line-height: 100%;
  margin-bottom: 1.5rem;
}
.card-description {
  color: #272727;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 1.125rem;
  line-height: 160%;
}

@media screen and (min-width: 768px) {
  .services-container {
    padding: 3.75rem 3rem;
  }
}

@media screen and (min-width: 1200px) {
  .services-container {
    padding: 3.75rem 8.75rem;
  }
  .services-title {
    font-size: 2.25rem;
  }
  .services-text {
    font-size: 1.5rem;
    margin-bottom: 4.5rem;
  }
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .card-item {
    flex-direction: row;
    gap: 0.5rem;
    padding: 1.5rem 5.625rem 2.375rem 2rem;
  }
  .icon-container {
    margin-bottom: 0;
  }
  .card-title {
    font-size: 1.75rem;
  }
  .card-description {
    color: #272727;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 1.125rem;
    line-height: 160%;
  }
}
